<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"></script>
</head>
<body>
    <video id="video"></video>

    <input type="text" id="device" value="{{doorid}}" />
    <button onclick="opendoor()">Trigger Door</button>
    <script>
        async function main() {
            const videoElement = document.getElementById('video');
            videoElement.width = 260;
            videoElement.height = 260;

            const cam = await tf.data.webcam(videoElement);
            const model = await tf.loadLayersModel('./static/model.json');
            
            const img = await cam.capture();
            let imgResized = tf.broadcastTo(img, [1,260,260,3]);

            var [resultBoxes, resultClasses] = model.predict(imgResized, {batchSize: 4});

            var maxScore = tf.max(resultClasses.get(0), 1)
            var maxScoreClass = tf.argMax(resultClasses.get(0), 1)

            console.log(maxScore, maxScoreClass);
        }
        main();

        function opendoor() {
            let device = document.getElementById('device').value;
            fetch('/debug/open/' + device);
        }
    </script>
</body>
</html>